
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Volkhov:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;  
}
body,
input {
  font-family: "Poppins", sans-serif;
}

/* Global */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
}
.buy-icon{
  font-size: 15px;
  padding-right: 3px;
}
::placeholder
{
  font-size: 17px !important;
  font-weight: 500 !important;
  color: rgb(126, 17, 235) !important;
}

.card-hover-custom
{
  transition: all 0.7s ease! important;
}
.card-hover-custom:hover
{
  text-shadow: none !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  -webkit-transform: scale(1.1) !important;
  -ms-transform: scale(1.1)!important;
  transform: scale(1.1) !important;
  z-index: 2;
}

/* Header Section */
.head-bg{
  background-color: #FFFBF0;
 
}

/* Intro Section */
.intro-text h1{
  color: tomato;
  font-size: 50px;
  font-weight: 600;
}
.intro-text p {
  color: dimgray;
}
.intro-color-text{
  color: #363958;
  font-size: 50px;
}
.intro-btn{
  width: 140px;
  border: none;
  border-radius: 8px;
  outline: none;
  color: white;
  background-color: rebeccapurple;
  font-weight: 500;
  font-size: 12px;
  padding: 15px;
  cursor: pointer;
  transition: all ease-in-out 1.2s;
}
.intro-btn:hover{
  background-color:orangered; 
}

/* Card Section */
.card-section-title{
  color: #363958;
  font-weight: 600;
}
.card-img{
  border: 1px solid lightgrey;
}
.card-title{
  color: #363958;
}
.card-price{
  font-size: 30px;
  font-weight: 700;
  color: orangered;
}
.card-btn{
  width: 130px;
  border: none;
  border-radius: 8px;
  outline: none;
  color: white;
  background-color: rebeccapurple;
  font-weight: 500;
  font-size: 12px;
  padding: 12px;
  cursor: pointer;
  transition: all ease-in-out 1.2s;
}
.card-btn:hover{
  background-color:orangered; 
}

/* Service Sectione */
.outline-text h5{
  color: #363958;
}
.outline-text span{
  color: dimgray;
  font-size: 14px;
}

/* Connect Section */
.connect-bg{
  background-color: #363958;;
}
.connect-header::after{
  content: "";
  background-color: lightgrey;
  width: 200px;
  height: 1px;
  display: block;
}
.follow-icons{
  color: orangered;
  font-size: 28px;
  padding: 0 5px;
  cursor: pointer;
  transition: transform(all ease-in-out 1s);
}
.follow-icons :hover{
  color: rgb(11, 141, 102);
  transform: scale(1.5);
}
.connect-header{
  color: white;
  font-weight: 300;
  font-size: 18px;
  font-family: "Roboto+Mono" ;
}
.contact-icon{
  color: rgb(11, 139, 161);
}
.subscribe-btn{
  width: 100px;
  border: none;
  border-radius: 6px;
  outline: none;
  color: white;
  background-color: rgb(18, 164, 201);
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  transition: all ease-in-out 1.2s;
}
.subscribe-btn:hover{
  background-color:rgb(8, 167, 29); 
}
 
/* Footer Section */
.footer-text{
  color: #363958;
}
.footer-color{
  color: rgb(8, 138, 170);
  transition: all ease-in-out 1.2s;
  font-weight: 600;
}
.footer-color:hover{
  color: green;
}


